html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Balsamiq Sans', cursive;
    background: rgb(214,214,255);
    background: linear-gradient(180deg, rgba(214,214,255,1) 26%, rgba(245,248,251,1) 77%);
}
#content {
    height: 100%;
    overflow: auto;
}
#header {
    position: fixed;
    transform: translateY(-15%);
    left: 50%;
    margin-left: -270px;
    width: 540px;
    text-align: center;
    font-size: 22px;
    color: #F8F7FF;
    background-color: #B8B8FF;
    border-bottom: 7px solid #9999FF;
    border-radius: 18px;
    z-index: 1;
}
h1 {
    margin: 0;
}
#nav-bar {
    position: fixed;
    transform: translateY(-15%);
    left: 50%;
    margin-left: -400px;
    background-color: #F64E9D;
    width: 800px;
    height: 70px;
    border: 1px transparent;
    border-radius: 15px;
}
#tab-content {
    background-color: #F4D67B;
    width: 1000px;
    margin: 85px auto 0 auto;
    text-align: center;
    font-size: 20px;
    border: 5px solid #F0C442;
}
#tab-content p {
    text-align: justify;
}
#about-pic {
    margin: 10px 0;
    border: 5px solid #F1CA55;
    border-radius: 10%;
}